---
layout: default
title: CoC Clan
---
<h4>BMN Clash</h4>
<p>BMN Clash is our official clan made in a game called Clash of Clans. It is a free online multiplayer game for iOS and Android devices and it's possible to install it on your computer using an Android emulator. Clash of Clans also has a <a href="http://clashofclans.wikia.com/wiki/Clash_of_Clans_Wiki">wiki page</a> that you can check out if you want.</p>
<p>Our main goal is to run a successful clan. By doing that, winning clan wars and levelling up our clan would be much easier.</p>
<p>You can rank up and be an Elder through trust, 1 clan war and 1-1 donations. <b>Co-Leader is a case by case basis.</b></p>
<hr />
<h4>How to join BMN</h4>
<p>To join BMN, <a href="https://powdertoy.co.uk/Register.html">register</a> on a website called <a href="http://powdertoy.co.uk">The Powder Toy</a>. Then join our group called <a href="http://powdertoy.co.uk/Groups/Page/View.html?Group=832">Brilliant Minds of the Navy</a> and then wait until a moderator accepts you.</p>
<p>Note: You do not need to be a member of a nation's military, nor do you need the desire to be to join BMN.<br>If you are having a problem trying to join BMN or there is something unclear that you want to know, ask one of our Co-Leaders or the leader himself.</p>
<hr />
<h4>Rules</h4>
<p>These are some rules that you should follow in order to stay in the clan.</p>
<ul>
  <li>Donate based on request, donating low level troops to powerful members or troops that the requester don't want is annoying.</li>
  <li>No hopping, you shouldn't leave and join again too much unless you have to.</li>
  <li>You can opt in and out of wars, and if you opt in, use both of your attacks in war even if our team is going to win.</li>
  <li>Be friendly to other clan members.</li>
  <li>Stay active on the clan chat, we don't want people who are just there doing nothing.</li>
  <li>Don't spam the chat menu too much, doing that will make the chat menu look crappy.</li>
</ul>
<hr />
<h4>Purge</h4>
<p>Purging the clan is a thing we do to clean the clan from unnecessary/unhelpful members. We only purge every Thursday unless it's necessary to purge.</p>
<p>The top 15 players are safe from purge. If you want to stay and not get purged, then make sure to follow the rules listed above and balance your donations and requests (1-2 donate minimal).</p>
<hr />
<div class="row-fluid">
  <div id="iferr"></div>
  <div class="span6">
    <h4>Current moderators</h4>
    <p>These are the moderators of the clan. If you have a question or if you saw a misbehave, report that in the chat menu and one of the moderator will hopefully respond.</p>
    <ul id="mods">
    </ul>
  </div>
  <div class="span5">
    <h4>Statistics</h4>
    <p>These are the statistics of our clan. It gets updated every 1 to 2 clan wars or after 1 to 2 weeks.</p>
    <ul id="stats">
      <li id="lvl"></li>
      <li id="win"></li>
      <li id="type"></li>
      <li id="tro"></li>
      <li id="war"></li>
      <li id="loc"></li>
      <li id="tag"></li>
    </ul>
  </div>
</div>
