---
layout: default
title: Divisions
---
<div id="content" class="container-fluid">
  <!-- divisions.js adds stuff here -->
</div>

<hr />

<h4 id="divisions">Divisions</h4>
<p>Divisions are small subgroups maintained by a Division Head and a Second-in-Command, or SecCom. DHs (Division Heads) must approve of new members, and there may be certain requirements, based on the priority of the division as well as the rules set in place by the Division head. These subgroups preform certain tasks that serve to benefit the group. Divisions are not for personal get-togethers. If a division seems too personal, it will be terminated.</p>
