---
layout: default
title: Hub
---
<div class="jumbotron">
  <img src="../img/logo.png" id="hub-logo" rel="prefetch" alt="BMN Logo" height="126" width="126" />
  <h1>Brilliant Minds of the Navy</h1>
  <div id="hub-jumbotron-text">
    <p class="lead">Currently one of the largest and most active groups of <a href="http://powdertoy.co.uk" rel="prerender">TPT</a>!</p>
    <p class="sub-lead">We use an United States Navy rates and ranks system to determine leadership. All you really have to do to get higher in rank is to show maturity and to be active.</p>
    <p id="hub-btn"><a class="btn btn-lg btn-success" href="http://powdertoy.co.uk/Groups/Page/View.html?Group=832" role="button">Group Page</a></p>
</div>
</div>
<div class="social-buttons">
  <div class="container">
    <ul>
      <li class="social-github">
        <iframe src="http://ghbtns.com/github-btn.html?user=Brilliant-Minds&amp;repo=Brilliant-Minds.github.io&amp;type=watch&amp;count=true" width="100"></iframe>
      </li>
      <li class="social-facebook">
        <div class="fb-like" data-href="https://facebook.com/BMNNation" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </li>
      <li class="social-twitter">
        <iframe id="twitter-widget-21" src="https://platform.twitter.com/widgets/tweet_button.1401325387.html#_=1402942951814&amp;count=horizontal&amp;id=twitter-widget-21&amp;lang=en&amp;original_referer=https%3A%2F%2Fabout.twitter.com%2Fresources%2Fbuttons%23tweet&amp;size=m&amp;text=Twitter%20Buttons%20%7C%20About&amp;url=http%3A%2F%2Fbrilliant-minds.tk&amp;via=BMNNation" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 110px; height: 20px;"></iframe>
      </li>
      <li class="social-twitter-2">
        <iframe id="twitter-widget-19" src="https://platform.twitter.com/widgets/follow_button.1401325387.html#_=1402942817095&amp;id=twitter-widget-19&amp;lang=en&amp;preview=true&amp;screen_name=BMNNation&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 200px; height: 20px;"></iframe>
      </li>
    </ul>
  </div>
</div>
 
<hr>

<div class="row-fluid subheadings">
  <div class="span6">
    <a href="https://github.com/Brilliant-Minds">
      <img src="../img/github.png" alt="GitHub" rel="prefetch" height="64" width="64">
      <h4>GitHub Organization</h4>
    </a>
    <p>Participate in community projects like our <a href="mod.html">The Powder Toy mod</a> and this website.</p>
    <br>
    <a href="irc://irc.freenode.net:6667/BMN">
      <img src="../img/irc.png" alt="Freenode" rel="prefetch" height="64" width="64">
      <h4>IRC</h4>
    </a>
    <p>Meet other BMN members inside the #BMN channel at irc.freenode.net. You can alternatively use the <a href="http://webchat.freenode.net/?channels=BMN">Webchat</a> for a quick talk.</p>
  </div>

  <div class="span6">
    <a href="http://powdertoy.co.uk/Brow-fluidse.html?Search_Query=BMNNation">
      <img src="../img/powder.png" alt="TPT" rel="prefetch" height="64" width="64">
      <h4>Creations</h4>
    </a>
    <p>Search for all TPT saves tagged with "BMNNation".<br>&nbsp;</p>
    <br>  
    <h4>More stuff</h4>
    <ul class="forum-list">
      <li><a href="http://powdertoy.co.uk/Discussions/Thread/View.html?Thread=17758">The Group thread</a> at the TPT forums</li>
      <li><a href="http://www.youtube.com/user/domthegamerofficial">Powder Toy tutorials</a> by dom2mom</li>
      <li><a href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1675">Group Announcements</a> and</li>
      <li><a href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1427">AC Discussion Page</a> on the group forums</li>
      <!--<li><a href="http://files.brilliant-minds.tk/Stocks/">StockBot log</a></li>-->
    </ul>
  </div>
</div>
