---
layout: default
title: IRC channel
nav: IRC
---
<div id="webchat-container">
  <iframe id="webchat" src="https://webchat.freenode.net?channels=%23BMN" width="777px" height="435px"></iframe>
  <p>
    Our official channel: <b>#BMN</b><br>
    The Admiral's Counsel's discussion channel: <b>#BMN-AC</b><br>
    The BMNNet channel: <b>##bmnnet</b>
  </p>
  <a id="webchat-new-window" onClick="open('http://webchat.freenode.net?channels=%23BMN', '', 'width=800, height=500')">
    Open this IRC web client in a new window
  </a>
  <hr/>
  <div id="webchat-wiki">
    <div id="wiki-main">
      <h4>Main Page</h4>
      <p>IRC stands for Internet Relay Chat. It is a text-based chatting system. IRC has so many servers like <a href="https://freenode.net/">Freenode</a>, which is one of the most popular IRC servers out there. You can connect to an IRC server via an IRC client, which is a program that the user can install on their device.</p>
      <p><a href="https://qwebirc.org/">qwebirc</a> is a very simple online client. This is what you are going to be using for now and this guideline can you help you get better at using it if you do not already know how to use it.</p>
      <ul>
        <li><a id="wiki-go-start">Using qwebirc</a></li>
        <li><a id="wiki-go-cmd">Useful Commands</a></li>
        <li><a id="wiki-go-friendly">Being Friendly on IRC</a></li>
      </ul>
    </div>

    <div id="wiki-start">
      <a class="wiki-back">&lt; Go back</a>
      <h4>Using qwebirc</h4>
      <p>To connect to the server, follow these steps:</p>
      <ol>
        <li>In the Nickname text field, enter a valid nickname (this is what you will be known as after you connect).</li>
        <li>In the Channel text field, enter the channel name you want to join after connecting. You can leave this empty or you can enter multiple channel names by separating them with a comma.</li>
        <li>If you do not have a NickServ account or do not want to identify to it, skip the Auth to services option, otherwise check the Auth to services checkbox and enter your username and your password.</li>
        <li>After that, you will see a <a href="https://www.google.com/recaptcha/intro/index.html">reCAPTCHA</a> which is used to prevent abuse. Do not worry about it, just do whatever it tells you to do, it will only take a few seconds.</li>
        <li>Finally, click the Connect button to connect to the server.</li>
      </ol>
      <p>If you do not know what all of these things are, look at this <a href="../img/qwebirc.png">image</a>, it explains everything you need to know about.</p>

      <h4>Mentioning other users</h4>
      <p>Users mention other users to get their attention. You can mention someone else by sending a message that has the nickname of the user you want to mention. Unless they are ignoring you, they will receive a notification and will read your message. Most users type the nickname of the user they want to mention at the beginning followed by a comma (,) or a colon (:). Do not include the plus sign (+) or the at sign (@) if you are mentioning a voiced user or an operator.</p>

      <h4>Commands</h4>
      <p>Commands are things that you can run to do something special. All commands start with a forward slash (/). This is how they look like:</p>
      <pre>/&lt;Commands name&gt; [&lt;Parameters&gt;]</pre>
      <p>Sometimes you want to send a message that starts with a slash without running a command, this can be done using the "say" command:</p>
      <pre>/say &lt;Your Messagee&gt;</pre>
      <p>Commands are not case-sensitive!</p>
    </div>
    <div id="wiki-cmd">
      <a class="wiki-back">&lt; Go back</a>
      <h4>Useful Commands</h4>
      <p>This is a list of some useful commands:</p>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Syntax</th>
            <th>Description</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>/away [&lt;Reason&gt;]</td>
            <td>Mark as being away. Leave [&lt;Reason&gt;] empty to mark as being back.</td>
            <td>/away Busy</td>
          </tr>
          <tr>
            <td>/help [&lt;Cmd&gt;]</td>
            <td>Gives information about [&lt;Cmd&gt;] (a list of commands by default).</td>
            <td>/help away</td>
          </tr>
          <tr>
            <td>/join &lt;Chan&gt;</td>
            <td>Joins &lt;Chan&gt;.</td>
            <td>/join #freenode</td>
          </tr>
          <tr>
            <td>/me &lt;Action&gt;</td>
            <td>Says an action in third-person.</td>
            <td>/me jumps</td>
          </tr>
          <tr>
            <td>/msg &lt;Nick&gt; &lt;Message&gt;</td>
            <td>Sends a message to &lt;Nick&gt;.</td>
            <td>/msg John Hello!</td>
          </tr>
          <tr>
            <td>/nick &lt;Nick&gt;</td>
            <td>Changes your nick</td>
            <td>/nick John</td>
          </tr>
          <tr>
            <td>/part [&lt;Chan&gt;] [&lt;Reason&gt;]</td>
            <td>Leaves [&lt;Chan&gt;] (The current one by default).</td>
            <td>/part #freenode Busy</td>
          </tr>
          <tr>
            <td>/query &lt;Nick&gt; [&lt;Msg&gt;]</td>
            <td>Opens up a new query with &lt;Nick&gt; to send private messages.</td>
            <td>/query John Hello!</td>
          </tr>
          <tr>
            <td>/quit [&lt;Reason&gt;]</td>
            <td>Quits from the server.</td>
            <td>/quit Busy</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="wiki-friendly">
      <a class="wiki-back">&lt; Go back</a>
      <h4>Being Friendly on IRC</h4>
      <p>
        It is easy, you just need to be careful about what you do and what you say. This is a list of things to keep in mind:<br>
        Note: This list applies to all channels, specially the important, big and popular ones.
      </p>
      <ul>
        <li>Do not spam a lot.</li>
        <li>Do not change your nickname rapidly.</li>
        <li>Do not abuse caps-lock and text formatting.</li>
        <li>Do not troll.</li>
        <li>Do not ban evade.</li>
        <li>Do not break the rules of the channels that you are in.</li>
        <li>Do not mass-highlight the entire channel or highlight so many users for no reason.</li>
        <li>Do not impersonate other users if they do not accept it.</li>
        <li>Do not ask for powers if you do not have the rights to ask for them.</li>
        <li>Do not be very rude to other users, be friendly instead.</li>
      </ul>
    </div>
  </div>
</div>
