---
layout: default
title: Ranks
nav: Rank System
---
<h4 id="officers">Officer Ranks</h4>
<ul class="offbox">
  <li id="rank-fleet-admiral"><span class="label badge-diamond">Fleet Admiral</span> Highest power of BMN. Head of the Admirals Counsel. There is only one of these at a time.</li>
  <li id="rank-admiral"><span class="label badge-warning">Admiral</span> Second highest power. One of them will be the Executive Officer (Second-in-Command). High leadership position in the AC. They can veto any decision made by the Fleet Admiral.</li>
  <li id="rank-commander"><span class="label badge-bronze">Commander</span> One of them is the leader of the OC and will also be a member of the AC and can put his/her own views in.</li>
  <li id="rank-lieutenant"><span class="label badge-inverse">Lieutenant</span> Lowest Officer rank. One of them is the Second-in-Command of the Officers Counsel.</li>
</ul>
<h4 id="preofficers">Preofficer Ranks</h4>
<ul>
  <li id="rank-officer-candidate"><span class="label label-success">Officer Candidate</span> Essentially the waiting list to replace Officers which are being removed.</li>
</ul>
<h5 id="enlisted">Enlisted Ranks</h5>
<ul>
  <li id="rank-chief-petty-officer"><span class="label label-primary">Chief Petty Officer</span> One below Officer Candidate. In charge of all the Petty Officers. Gets promoted directly to Lieutenant</li>
  <li id="rank-senior-petty-officer"><span class="label label-primary">Senior Petty Officer</span> Second enlisted rank. Gets promoted directly to Lieutenant</li>
  <li id="rank-petty-officer"><span class="label label-primary">Petty Officer</span> The first enlisted rank. Gets promoted directly to Lieutenant</li>
</ul>
<h5 id="nonrates">Nonrates</h5>
<ul>
  <li id="rank-seaman"><span class="label label-default">Seaman</span> They begin training for Officer ranks here. This rank was renamed from "Upper Recruit"</li>
  <li id="rank-seaman-apprentice"><span class="label label-default">Seaman Apprentice</span> Everyone starts here. As long as you post 5 times, you will be promoted. If you don't get promoted from here within a week, you will be removed. This rank was renamed from "Lower Recruit"</li>
</ul>
<h4 id="special">Special Ranks</h4>
<ul>
  <li id="rank-chief-warrant"><span class="label label-primary">Chief Warrant</span> This is a neutral rank for people that used to have an Officer position above Captain and couldn't be as active anymore.</li>
  <li id="rank-warrant-officer"><span class="label label-info">Warrant Officer</span> This is a neutral rank for people that used to have an Officer position below Captain and couldn't be as active anymore</li>
  <li id="rank-probationary"><span class="label label-danger">Probationary</span> Lower than Seaman Apprentice. If a Probationary does ANYTHING 'bad', they will be kicked and perma-banned from BMN.</li>
</ul>
<hr />
<h4 id="admirals-counsel">Admirals Counsel</h4>
<p>The Admirals Counsel is comprised of the Admiral positions. The AC is where all rule creations, changes and fixes will be made, as well as promotions, demotions and member removals (discharges).</p>
<ul>
  <li>For a member to be removed, three out of the five top Admirals have to vote yes.</li>
  <li>For a demotion, any four Admirals must vote for yes, unless vetoed by an Admiral or the current Fleet Admiral.</li>
  <li>Promotions need four Admirals to vote for yes, of course the new rank must be open and not taken yet.</li>
  <li>A non-Admiral requires six Admirals to vote yes so he/she can join the AC.</li>
  <li>For a rule creation or change, more than half of the Admirals need to vote yes. For a rule fix, it only needs three unless vetoed by the top five Admirals.</li>
</ul>
<p>Any thread that is tagged with "(AC)" means that it is an Admirals Counsel discussion only. You may watch it, but only Commander AC sit-ins may post there.<br>
There may be a few exceptions where we allow Commanders into the AC.</p>
<hr />
<h4 id="imc">Inactive Movement Cycle (IMC/IRC)</h4>
<p>Around every month there will be an event called the Inactive Movement Cycle. I will be moving around people who are inactive frequently and promoting very frequent, deserving users.<br>
<b>Note:</b> If you go on vacation and you have no idea if an IMC is coming soon, tell me about it and tell me when you get back. If you warn me in advance, you will be safe from the movement.</p>

