---
layout: default
title: Rules
---
<h4 id="rules">Rules</h4>
<ol>
  <li>No trolling of any kind</li>
  <li>No spamming (except for the Crap Page)</li>
  <li>No abusing of group manager privileges</li>
  <li>No inappropriate/hateful/racist posts</li>
  <li>Don't get your TPT account banned without an adequate reason</li>
  <li>Don't lie about anything serious to a Commanding Officer</li>
</ol>
<hr />
<h4 id="rights">Rights</h4>
<ol>
  <li>If you believe a received probation to be unwarranted, you may request a trial.</li>
  <li>You have the right to warranted criticism only. Therefore you may not criticize another member without merit.</li>
  <li>All members, even Seaman Apprentice, may post a new topic whenever they want. However, if this leads to spam, this right is revoked for some time. If the post is highly profane or malevolent towards another user, this right may be revoked indefinitely.</li>
  <li>All members may request a voucher to protect them from the next IMC/IRC. You just need to give a reason for needing the voucher.</li>
  <li>You always have the right to complain about anything. Anything. Doesn't mean it will change anything though.</li>
</ol>
<b>Every member, even the Seaman Apprentice, have rights in BMN.</b> Certain rights may be revoked if a probation is received.
<hr />
<h4 id="contributions">Contribution Rules</h4>
<p>
  Anyone may make a contribution to the group. It will serve to further your place in BMN, as well as get you a bit more well known.
  <b>Any and all contributions</b> made to BMN become our property. i.e. if you make a new logo, and then get perma-banned from the group, that logo belongs to BMN, and we <b>may continue</b> to use it.
</p>
<hr />
<h4 id="information-leakage">Information Leakage</h4>
<p>
  Leaking BMN information can be a serious offence.
  All members are supposed to be responsible and mature enough to not tell non-BMN members information held within BMN. 
  Especially to Banned Members. Giving information to Banned members <b>will</b> lead to discharge and perma-banning.
</p>
<hr />
<h4 id="post-rules">Post Rules</h4>
<p>
  <b>Anyone may make a post</b> while respecting these rules.
  If you don't follow these rules once you will be warned and your post will be hidden, the next time you will get a probation.
</p>
<ul>
  <li>You may not use more than five big (&lt;big&gt;&lt;/big&gt;) html tags.</li>
  <li>You may not make posts that are really long, unless it really is necesary.</li>
  <li>You may not double post using an alternative account in a post contest.</li>
  <li>You may not do ghost talk. Please don't use White as the color of your text.</li>
  <li>You may not include giant images (bigger than 256px), only post a link to the image.</li>
  <li>You may not copy a whole Post's HTML code from the website and slap it into your post. Only copy it's text/content, quote it in a blockquote or quote it in single line quotes</li>
</ul>
<p>
  If you need help with making images smaller, or anything else <abbr title="Hypertext Markup Language">HTML</abbr> related please visit <a href="http://files.brilliant-minds.tk/Organize-Post.html">How to organize your post using <abbr title="Hypertext Markup Language">HTML</abbr></a>
</p>
<hr />
<h4 id="punishments">Probation Punishments</h4>
<p>
  For anything excessively profane, if you got banned for it in TPT, you <b>will</b> be demoted and placed on level 3 probation for 4 weeks, then you will be moved to level 1 probation.<br>
  <b>If you get 5 punishments like this, you will be banned from the group.</b>
</p>
<p>
  For any other few-days ban, the Fleet Admiral will ask you for the reason and then ask jacob1 about it. If the reasons don't match, you will be demoted once.<br>
  For any unnecessary ban that has been repeated, a trial and a hearing will be convened. This will determine what punishment is given, if any.
</p>
<h5 id="probation-levels">Probation Levels</h5>
<ul>
  <li>Level 1: Light restrictions from group activities, it will <b>not</b> affect your promotion. May go on your record and lasts for one week.</li>
  <li>Level 2: Medium restrictions from group activities. <b>May</b> affect your promotion during the next Inactive Movement Cycle, and this may go on your record.<br>
    If you receive this and then receive a level 3 probation, you will be <b>discharged</b>. Lasts for 3 weeks.
  </li>
  <li>Level 3: Whatever you did to deserve this, it was bad. Heavy restrictions from group activities, no promotion in the next two IMCs, and if you get another level 2 or higher probation, you will be <b>discharged</b>.<br>
    Also, any Admirals Counsel members who are a group manager and get this probation will be changed down to a Member for 2 months. It will go on you record. Lasts for 3 months.
  </li>
  <li>Level 4 (<i>waiting list</i>): This essentially means that we are deciding who you are being replaced with. Goodbye.</li>
</ul>
<hr />
<h4 id="trials">Trials</h4>
<p>
  For any severe (or at least partially) offence made by an Admiral, a trial will be convened. There shall be a prosecutor, defence attorney, jury of peers (people of the same counsel), testimonials and a judge (the current Fleet Admiral). All people participating in this trial will have their ranks suspended for reasons against biased judgement, except the judge.<br>
  Any actual offence made by an Admiral is more serious than that of any other member, obviously. But if an Admiral is being prosecuted, <b>no one below the AC sit-in Commander may post to the thread.</b> Breaking this rule is punishable by <b>discharge.</b>
</p>
