---
layout: default
title: User Saves
---
<p>
  This page contains important or exceptionally good saves made by members of our group.
</p>
<br />
<div class="row" style="margin:0px">
  <h4>Logos and Shoulder Boards</h4>
  <save data-id="1481478" data-author="nucular" data-title="BMN LOGO IMPROVED IMPROVED" data-img="img/save-logo.png"></save>
  <save data-id="1811509" data-author="Mrprocom" data-title="Logo Specialization" data-img="img/save-ranks.png"></save>
</div>
<hr>
<div class="row" style="margin:0px">
  <h4>Spotlight</h4>
  <save data-id="1347672" data-author="meganuke9" data-title="New York"></save>
  <save data-id="1542779" data-author="meganuke9" data-title="ICBM SILO"></save>
  <save data-id="1504655" data-author="meganuke9" data-title="SUPER VIBR Bomb"></save>
  <save data-id="1527161" data-author="meganuke9" data-title="Noble Reactor"></save>
  <save data-id="1013685" data-author="meganuke9" data-title="Nuclear Power Plant Deut powered"></save>
  <save data-id="1520476" data-author="meganuke9" data-title="Bikini Atoll"></save>
  <save data-id="1575663" data-author="aryaj" data-title="nuclear rocket"></save>
</div>
