body {
    padding-top: 20px;
    padding-bottom: 40px;
}

label {
    font-weight: bold;
}
/* General jumbotron styling */
.jumbotron {
    margin: 3.750em 0 1.755em;
    text-align: center;
    background-color: #FFFFFF;
    padding: 0;
}
@media screen and (min-width: 768px) {
    .container .jumbotron {
        padding: 0;
    }
}
.jumbotron h1 {
    font-size: 50px;
    line-height: 1;
}
.jumbotron .btn-lg {
    font-size: 21px;
    padding: 14px 24px;
}

/* Custom container */
hr {
    margin: 30px 0;
}
.container {
    max-width: 807px;
}

/* Mod download menu */
.jumbotron .dropdown-menu {
    padding-left: 5px;
    padding-right: 5px;   
}
.btn-group-vertical {
    float: left;
    margin-right: 10px;
}
.btn-group-vertical .btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Centered subheadings */
.subheadings .span6 {
    text-align: center;
}

.subheadings .span6 p {
    margin-left: 10px;
    margin-right: 10px;
}

/* Forum Page list */
.forum-list {
    text-align: left;
    padding-left: 20px;
}

/* Hub jumbotron stuff */
#hub-logo {
    float: right;
}
@media (max-width : 390px) {
    #hub-logo {
        float: none;
    }
}
#hub-jumbotron-text {
    text-align: left;
}

/* Social buttons on the hub */
.social-buttons {
    padding-top: 10px;
    padding-bottom: 5px;
    display: inline-block;
}
.social-buttons iframe {
    overflow: hidden;
    border: 0 none;
    max-height: 20px;
    max-width: 200px;
    background: none;
}
.social-twitter-2 {
    width: 28%;
}
.social-facebook, .social-github, .social-twitter, .social-twitter-2 {
    padding: 5px 8px;
    line-height: 1;
    display: inline-block;
}
.social-buttons .container ul {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.social-github, .social-twitter {
    width: 100px;
}
/* Award/Badge box at member records */
.award-box {
    text-align: right;
    padding-top: 10px;
}
.award-box a {
    margin-right: 10px;
}
.award-box a:last-child {
    margin-right: 0;
}

/* Avatar for member records */
.member-avatar {
    float: left;
    margin: 14px 10px 10px 10px;
    overflow: hidden;

    width: 40px;
    height: 40px;
    border-radius: 3px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.4);

    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.1)),to(rgba(0,0,0,0.1)));
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background-image: -o-linear-gradient(bottom, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);

    background-image: linear-gradient(to top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background-image: -webkit-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
}
/* Some additional badge colors and style */
.badge {
    cursor: default;
}
.label {
    cursor: default;
    font-weight: bold;
    padding: 2px 4px;
    font-size: 11.844px;
    line-height: 14px;
}
.badge-bronze {
    background-color: #BD6F2D;
}
.badge-silver {
    background-color: #B7BDBD;
}
.badge-diamond{
    background-color: #E0FFFF;
    color: #446;
    border: 1px solid #AAA;
}
.badge-inverse {
    background-color: #333;
}
.badge-warning {
    background-color: #f89406;
}
.label-primary  {
    background-color: #428bca;
}
.label-info {
    background-color: #5bc0de!important;
}
/* If this seems weird, it is */
#content {
    clear: both;
    overflow: hidden;
}
ul {
    margin: 0 0 10px 25px;
    padding: 0;
}
li {
    line-height: 20px;
    font-size: 14px;
}
.offbox #rank-fleet-admiral {
    margin-bottom: 0.2em;
}
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

h1, h3, .h1, .h3 {
    line-height: 40px;
    font-weight: bold;
    font-family: inherit;
    text-rendering: optimizelegibility;
    margin: 10px 0;
}

h4, h5, h6, .h4, .h5, .h6 {
    font-weight: bold;
    font-family: inherit;
    text-rendering: optimizelegibility;
    margin: 10px 0;
}

h2, .h2 {
    line-height: 40px;
    font-weight: bold;
    font-family: inherit;
    text-rendering: optimizelegibility;
    margin: 10px 0;
    display: block;
}
.h1, .h2, .h3, .h4, .h6 {
    display: block;
}
.h6 {
    font-size: 12px;
}
