---
layout: default
title: Threads
---
<h4>Divisions</h4>
<ul>
  <li>
    <strong>BMNPR</strong> (Public Relations)
    <ul>
      <li>Discussions related to the BMN Public Relations Division.</li>
      <li><a class="hover" data-title="BMNPR (Public Relations)" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1755">Visit this thread</a></li>
    </ul>
  </li>
  <li>
    <strong>BMNR&amp;D</strong> (Research and Development)
    <ul>
      <li>Discussions related to the BMN Research and Development Division.</li>
      <li><a class="hover" data-title="BMNR&D (Research and Development)" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1762">Visit this thread</a></li>
    </ul>
  </li>
  <li>
    <strong>BMNSD</strong> (Security)
    <ul>
      <li>Discussions related to the BMN Security Division.</li>
      <li><a class="hover" data-title="BMNSD (Security)" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1746">Visit this thread</a></li>
    </ul>
  </li>
  <li>
    <strong>BMNTD</strong> (Technical)
    <ul>
      <li>Discussions related to the BMN Technical Division.</li>
      <li><a class="hover" data-title="BMNTD (Technical)" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1713">Visit this thread</a></li>
    </ul>
  </li>
  <li>
    <strong>BMNRD</strong> (Records)
    <ul>
      <li>Discussions related to the BMN Records Division.</li>
      <li><a class="hover" data-title="BMNRD (Records)" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1912">Visit this thread</a></li>
    </ul>
  </li>
</ul>
<h4>For new members</h4>
<ul>
  <li>
    Rules|Info of BMN (IYANLH)
    <ul>
      <li>This thread contains a list of BMN rules and some information about it.</li>
      <li><a class="hover" data-title="Rules|Info of BMN (IYANLH)" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1915">Visit this thread</a></li>
    </ul>
  </li>
  <li>
    Rules|Info (IYANLH) Part 2
    <ul>
      <li>This thread contains another list of BMN rules and information about it.</li>
      <li><a class="hover" data-title="Rules|Info (IYANLH) Part 2" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1916">Visit this thread</a></li>
    </ul>
  </li>
  <li>
    Chain Of Command
    <ul>
      <li>This thread contains a list of members and their ranks.</li>
      <li><a class="hover" data-title="Chain Of Command" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1914">Visit this thread</a></li>
    </ul>
  </li>
  <li>
    BMNRD - Help Desk
    <ul>
      <li>In this thread, you can ask a question related to the game so that other members can hopefully answer you.</li>
      <li><a class="hover" data-title="BMNRD - Help Desk" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1818">Visit this thread</a></li>
    </ul>
  </li>
  <li>
    AC Discussion Page
    <ul>
      <li>A thread where members from the Admirals Counsel discuss the matters of the group.</li>
      <li><a class="hover" data-title="Admiral's Counsel" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1427">Visit this thread</a></li>
    </ul>
  </li>
  <li>
    OC Discussion Page
    <ul>
      <li>A thread where members from the Officers Counsel can discuss the matters of the group.</li>
      <li><a class="hover" data-title="Officers's Counsel" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&Thread=2170">Visit this thread</a></li>
    </ul>
  </li>
</ul>
<h4>Miscellaneous</h4>
<ul>
  <li>
    Saves
    <ul>
      <li>Share your awesome TPT saves in this thread.</li>
      <li><a class="hover" data-title="Saves" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1695">Visit this thread</a></li>
    </ul>
  </li>
  <li>
    Links To Important Threads
    <ul>
      <li>This thread contains a list of links to important threads.</li>
      <li><a class="hover" data-title="Links To Important Threads" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1890">Visit this thread</a></li>
    </ul>
  </li>
  <li>
    Organizing Your Post
    <ul>
      <li>Learn how to organize your post using HTML without using the WYSIWYG editor.</li>
      <li><a class="hover" data-title="Organizing Your Post" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1785">Visit this thread</a></li>
    </ul>
  </li>
  <li>
    BMN Website and Github organization
    <ul>
      <li>Discuss the matters of the BMN website and Github organization.</li>
      <li><a class="hover" data-title="BMN Website and Github organization" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1658">Visit this thread</a></li>
    </ul>
  </li>
  <li>
    BMNNet
    <ul>
      <li>This thread is for discussions related to the alternative TPT server (BMNNet).</li>
      <li><a class="hover" data-title="BMNNet" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=2202">Visit this thread</a></li>
    </ul>
  </li>
  <li>
    BMN Records
    <ul>
      <li>This thread contains a list of records for BMN members.</li>
      <li><a class="hover" data-title="BMN Records" href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1745">Visit this thread</a></li>
    </ul>
  </li>
</ul>
