<footer class="footer">
  <a class="muted" href="https://github.com/Brilliant-Minds/IE">repo</a>
  <a class="muted pull-right" href="tos.html">Terms of Service &amp; Cookie policy</a>
</footer>

<!-- JavaScript -->
<script src="bootstrap/jquery.min.js" rel="prefetch"></script>
<script src="bootstrap/bootstrap.min.js" rel="prefetch"></script>
{% if page.title == "Members" %}
<script src="members.js" rel="prefetch"></script>
{% elsif page.title == "User Saves" or page.title == "Infos" %}
<script src="saveembed.js" rel="prefetch"></script>
{% elsif page.title == "Divisions" %}
<script src="divisions.js" rel="prefetch"></script>
{% elsif page.title == "CoC Clan" %}
<script src="../clan.js" rel="prefetch"></script>
{% elsif page.title == "Threads" %}
<script src="../threads.js" rel="prefetch"></script>
{% elsif page.title == "IRC channel" %}
<script src="../irc.js" rel="prefetch"></script>
{% endif %}
