<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- The 3 above meta tags *must* be first -->
<title>BMN &middot; {{ page.title }}</title>

<!-- favicons -->
<link rel="icon apple-touch-icon" type="image/png" sizes="16x16" href="../img/favicon16.png" />
<link rel="icon apple-touch-icon" type="image/png" sizes="32x32" href="../img/favicon32.png" />
<link rel="icon apple-touch-icon" type="image/png" sizes="48x48" href="../img/favicon48.png" />
<link rel="icon apple-touch-icon" type="image/png" sizes="57x57" href="../img/favicon57.png" />
<link rel="icon apple-touch-icon" type="image/png" sizes="76x76" href="../img/favicon76.png" />
<link rel="icon apple-touch-icon" type="image/png" sizes="120x120" href="../img/favicon120.png" />
<link rel="icon apple-touch-icon" type="image/png" sizes="152x152" href="../img/favicon152.png" />
<link rel="icon apple-touch-icon" href="../img/favicon.png" />
<link rel="apple-touch-icon" href="../img/favicon.png" />
    
<!-- meta -->
<meta name="keywords" content="the powder toy, BMN, powder toy, navy, minds, brilliant, brilliant minds of the navy, powder, game, group, mobile, tpt, bomb, members, info" />
<meta name="description" content="Welcome to the Brilliant Minds of the Navy! This is the website for our group on The Powder Toy" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Brilliant Minds Of The Navy" />
<meta property="og:url" content="http://brilliant-minds.tk" />
<meta property="og:site_name" content="BMN" />
<meta property="og:description" content="Welcome to the Brilliant Minds of the Navy! This is the website for our group on The Powder Toy" />
<meta property="og:image" content="/img/logo.png" />
<meta name="apple-mobile-web-app-capable" content="yes" />
   
{% if page.title == "Hub" %}
<!-- FB page -->
<meta property="fb:page_id" content="1419535244980826" />
<meta property="fb:admins" content="100000245737929" />
{% endif %}

<!-- CSS -->
<link href="bootstrap/bootstrap.min.css" rel="stylesheet prefetch" />
<link href="bootstrap/bootstrap-responsive.min.css" rel="stylesheet prefetch" />
<link href="style.css" rel="stylesheet prefetch" />
{% if page.title == "User Saves" or page.title == "Infos" %}
<link href="../save.css" rel="stylesheet prefetch" />
{% elsif page.title == "IRC channel" %}
<link href="../irc.css" rel="stylesheet prefetch" />
{% endif %}
   
<!-- Compatibility layer for ie -->
<script>document.createElement('main');document.createElement('header');document.createElement('nav');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('footer');</script>
<script src="//cdn.rawgit.com/aFarkas/html5shiv/3.7.3/dist/html5shiv-printshiv.min.js"></script>
<script src="../respond.min.js"></script>
