<nav class="navbar" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <a type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      {% if page.nav %}
      <span class="brand">BMN <small>{{ page.nav }}</small></span>
      {% else %}
      <span class="brand">BMN <small>{{ page.title }}</small></span>
      {% endif %}
    </div>
    <div class="nav-collapse collapse">
      <ul class="nav">
        {% if page.title == "Hub" %}
        <li class="active"><a href="index.html">Hub <span class="glyphicon glyphicon-home"></span></a></li>
        {% else %}
        <li><a href="index.html">Hub <span class="glyphicon glyphicon-home"></span></a></li>
        {% endif %}
        {% if page.title == "Members" %}
        <li class="active"><a href="members.html">Members <span class="glyphicon glyphicon-user"></span></a></li>
        {% else %}
        <li><a href="members.html">Members <span class="glyphicon glyphicon-user"></span></a></li>
        {% endif %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Information<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% if page.title == "Infos" %}
            <li class="active"><a href="infos.html">Infos</a></li>
            {% else %}
            <li><a href="infos.html">Infos</a></li>
            {% endif %}
            {% if page.title == "Rules" %}
            <li class="active"><a href="rules.html"><i class="glyphicon glyphicon-th-list"></i> Rules</a></li>
            {% else %}
            <li><a href="rules.html"><i class="glyphicon glyphicon-th-list"></i> Rules</a></li>
            {% endif %}
            {% if page.title == "Ranks" %}
            <li class="active"><a href="ranks.html">Ranks</a></li>
            {% else %}
            <li><a href="ranks.html">Ranks</a></li>
            {% endif %}
            {% if page.title == "Threads" %}
            <li class="active"><a href="threads.html">Threads</a></li>
            {% else %}
            <li><a href="threads.html">Threads</a></li>
            {% endif %}
            {% if page.title == "Our CoC clan" %}
            <li class="active"><a href="clan.html">CoC clan</a></li>
            {% else %}
            <li><a href="clan.html">CoC clan</a></li>
            {% endif %}
            {% if page.title == "IRC channel" %}
            <li class="active"><a href="irc.html">IRC channel</a></li>
            {% else %}
            <li><a href="irc.html">IRC channel</a></li>
            {% endif %}
          </ul>
        </li>
        {% if page.title == "User Saves" %}
        <li class="active"><a href="saves.html">User Saves <span class="glyphicon glyphicon-floppy-disk"></span></a></li>
        {% else %}
        <li><a href="saves.html">User Saves <span class="glyphicon glyphicon-floppy-disk"></span></a></li>
        {% endif %}
        {% if page.title == "Divisions" %}
        <li class="active"><a href="divisions.html">Divisions</a></li>
        {% else %}
        <li><a href="divisions.html">Divisions</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="mailto:webmaster@wolfy1339.tk">Contact <span class="glyphicon glyphicon-envelope"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
